<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<HEAD>
    <TITLE>额度变动</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
    <link href="/static/global/style/public.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--時間-->
    <!--span class="online_time">|&nbsp;香港时间&nbsp;|</span> <span id="onlinetime" class="online_time2"></span> <span id="onlinetime2" style="display:none" class="online_time2"></span -->

    <!--帳號-->
    {include file="public/header"}

    <div id="main" class="main">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="talkabout" valign="middle">|&nbsp;额度变动查询&nbsp;|</td>
                </tr>
            </tbody>
        </table>
        <div>
            <!-- 类型：
            <select v-model="search.type" style="FONT-SIZE: 12px; COLOR: navy; FONT-FAMILY: arial" size="1">
                <option value="0" selected="">会员</option>
                <option value="1">代理</option>
            </select> -->
            用户名：
            <input v-model="search.user_name" value="">
            <input class="button" type="button" value="查询" @click="query()">
        </div>
        <br>
        <table width="805" border="0" cellpadding="0" cellspacing="1" style="border:1px solid #76694c;font-size:14px;">
            <tbody>
                <tr>
                    <!-- <th width="10%" height="16" class="note_title">上级代理</th> -->
                    <th width="10%" height="16" class="note_title">账号</th>
                    <th width="10%" height="16" class="note_title">时间</th>
                    <th width="10%" height="16" class="note_title">说明</th>
                    <th width="10%" height="16" class="note_title">金额</th>
                    <th width="11%" class="note_title" height="22px">操作者</th>
                </tr>
        
        
                <tr v-for="(item, index) in data" align="right" bgcolor="#FFFFFF">
                    <!-- <td height="22" nowrap="">{{item.parent_name}}</td> -->
                    <td height="22" nowrap="">{{item.user_number}}</td>
                    <td height="22" nowrap="">{{item.time}}</td>
                    <td height="22" nowrap="">{{item.type}}</td>
                    <td>{{item.num}}</td>
                    <td>{{item.admin}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="main">
        <table width="805" border="0" align="left" cellpadding="0" cellspacing="0" class="tmove">
            <tbody>
                <tr>
                    <td colspan="28" height="25" class="note_title">
                        <div class="page-info" id="pageInfo">
                            <span>当前页合计:&nbsp;<b class="page-total">1</b>&nbsp;条</span>
                            <span>&nbsp;&nbsp;跳至&nbsp;</span>
                            <select name="" class="form-control page-index" id=""></select>
                            <span>&nbsp;页&nbsp;／&nbsp;<b class="page-page">1</b>&nbsp;页&nbsp;&nbsp;</span>
                            <a href="javascript:void(0)" class="page-first">首页</a>
                            <a href="javascript:void(0)" class="page-prev">上一页</a>
                            <a href="javascript:void(0)" class="page-next">下一页</a>
                            <a href="javascript:void(0)" class="page-last">末页</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
<script src="/static/global/js/jquery-2.1.4.min.js"></script>
<script src="/static/global/js/vue.min.js"></script>
<script src="/static/global/js/global.js"></script>
<script src="/static/limitChange/js/index.js"></script>
</html>