html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../global/image/bg_01.jpg) 0 0 no-repeat;
    background-size: cover;
    z-index: 1;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -158px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    width: 280px;
    border: 1px solid rgba(83,83,83,0.7);
}
h2{
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.form-control{
    margin: 5px 0;
    padding: 2px 5px;
    width: 193px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #9c947f;
    color: #bfbfbf;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-family: Arial, Helvetica, sans-serif;
}
.ensure{
    font-size: 0;
    line-height: 0;
}
.ensure .form-control{
    width: 83px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 5px;
}
.ensure img{
    height: 30px;
    vertical-align: middle;
}
.btn{
    width: 195px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    line-height: 23px;
    background-color: #96865f;
    border: 1px solid #c2ad7a;
    margin: 5px 0 0 0;
    line-height: 30px;
}
.btn:hover{
    background-color: #c3af7c;
    border: 1px solid #e6cf94;
    color: #fff;
}
