<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<HEAD>
    <TITLE>添加会员</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
    <link href="/static/global/style/public.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .main input[type=text],.main input[type=password]{
            width: 100px;
        }
    </style>
</head>

<body>
    <!--時間-->
    <!--span class="online_time">|&nbsp;香港时间&nbsp;|</span> <span id="onlinetime" class="online_time2"></span> <span id="onlinetime2" style="display:none" class="online_time2"></span -->

    <!--帳號-->
    {include file="public/header"}

    <div class="main" id="main">
        <table width="800" height="91" border="0" align="left" cellpadding="0" cellspacing="0" class="tmove">
            <tbody>
                <tr>
                    <td width="100%" height="91" valign="top">
                        <table width="800" border="0" cellpadding="0" cellspacing="1" id="Table_01"
                            style="border:1px solid #76694c;font-size:14px;">
                            <tbody>
                                <tr class="note_title" height="25">
                                    <td width="526" height="22"><strong class="fw12"> 添加会员</strong></td>
                                    <td width="108"><a href="javascript: history.back(1);">返回上一页</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div align="left">
                                            <table height="207" border="0" cellspacing="1">
                                                <tbody>
                                                    <tr>
                                                        <td height="22">
                                                            <div align="right">代理商：</div>
                                                        </td>
                                                        <td colspan="2">
                                                            <div align="left">
                                                                {{parent_name || create_user_name}}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="22" nowrap="">
                                                            <div align="right">账号：</div>
                                                        </td>
                                                        <td width="534" nowrap="">
                                                            <input maxlength="15" size="15" type="text" class="input" v-model="username" @blur="verificationUsername" @input="usernameStatus = '0'">
                                                            <img :src="usernameStatus == '1' ? '/static/global/image/s01.gif' : '/static/global/image/s02.gif'">
                                                            <span class="fbred">
                                                                <input type="button" value="检测" @click="verificationUsername">
                                                            </span>
                                                            <span class="fbred">帐号必须至少4个字元长，并只能有数字(0-9)，及英文大小写字母</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="24">
                                                            <div align="right">会员名称：</div>
                                                        </td>
                                                        <td colspan="2">
                                                            <div align="left">
                                                                <input maxlength="15" size="15" v-model="name" type="text" class="input">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div align="right">密码：</div>
                                                        </td>
                                                        <td colspan="2" nowrap="">
                                                            <div align="left">
                                                                <input maxlength="15" size="15" type="password" class="input" v-model="pwd">
                                                                (密码必须至少4个字元长，最多8个字元长，并只能有数字(0-9)，及英文大小写字母)
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="25">
                                                            <div align="right">确认密码：</div>
                                                        </td>
                                                        <td colspan="2">
                                                            <div align="left">
                                                                <input maxlength="15" size="15" v-model="confirm_pwd" type="password" class="input">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div align="right">开放盘别：</div>
                                                        </td>
                                                        <td>
                                                            <div align="left">
                                                                <template v-for="(item, index) in levelValue">
                                                                    <input  type="checkbox" name="plate_no" :value="index"
                                                                    v-model="levelValue[index]">{{index}}
                                                                </template>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <!-- <tr>
                                                        <td height="26">
                                                            <div align="right">信用额度：</div>
                                                        </td>
                                                        <td colspan="2">
                                                            <div align="left">
                                                                <input type="text" class="input" v-model="credit">
                                                                (可用额度 <span class="fred12">{{usable_credit}}</span>)(目前用于单日单期数彩球游戏(香港六合彩，福彩3D，体彩PL3...等)
                                                            </div>
                                                        </td>
                                                    </tr> -->
                                                    <tr>
                                                        <td height="26">
                                                            <div align="right">快开额度：</div>
                                                        </td>
                                                        <td colspan="2">
                                                            <div align="left">
                                                                <input maxlength="15" size="15" type="text" class="input" v-model="quick">
                                                                (可用额度 <span class="fred12">{{usable_quick}}</span>)(目前用于单日多期数彩球游戏(新疆时时彩，重庆时时彩...等)
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div align="right">可用限红：</div>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>

                                                    <tr v-for="(item, index) in game_list">
                                                        <td></td>
                                                        <td>
                                                            开放:<input type="checkbox" :value="item.game_key" v-model="item.select"> {{item.name}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div align="right"></div>
                                                        </td>
                                                        <td colspan="2">
                                                            <div align="left">
                                                                <input type="button" name="Submit3"
                                                                    value="确认添加" @click="submit">

                                                                <!--<input type=button name=Submit22 value='会员数已达到上限,添加会员无效' disabled>-->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="/static/global/js/jquery-2.1.4.min.js"></script>
<script src="/static/global/js/vue.min.js"></script>
<script src="/static/global/js/global.js"></script>
<script type="text/javascript" src="/static/memberManagement/js/addInfo.js"></script>

</html>