<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<HEAD>
    <TITLE>注单查询</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
    <link href="/static/global/style/public.css" rel="stylesheet" type="text/css">
    <link href="/static/global/style/jedate.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--時間-->
    <!--span class="online_time">|&nbsp;香港时间&nbsp;|</span> <span id="onlinetime" class="online_time2"></span> <span id="onlinetime2" style="display:none" class="online_time2"></span -->

    <!--帳號-->
    {include file="public/header"}

    <div id="main" class="main">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td height="5"> </td>
                </tr>
            </tbody>
        </table>
        &nbsp;&nbsp;&nbsp;&nbsp;会员账号： 
        <input v-model="search.username" value="">
        &nbsp;&nbsp;&nbsp;&nbsp;彩种： 
        <select v-model="search.game_key" style="FONT-SIZE: 12px; COLOR: navy; FONT-FAMILY: arial" size="1">
            <option value="">全部</option>
            <option value="ssc">重庆时时彩</option>
            <option value="jlk3">吉林快3</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;时间： 
        <input v-time v-model="search.time" id="query_time">
        "YYYY-MM-DD"&nbsp;&nbsp;&nbsp;&nbsp;是否结算： 
        <select v-model="search.status" style="FONT-SIZE: 12px; COLOR: navy; FONT-FAMILY: arial" size="1">
            <option value="" selected="">全部</option>
            <option value="0">未结算</option>
            <option value="1">已结算</option>
        </select>
        <input class="button" type="button" value="查询" @click="query" >
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td height="5"> </td>
                </tr>
            </tbody>
        </table>
        <table id="datatable" style="border:1px solid #76694c;font-size:14px;" border="0" cellspacing="1" cellpadding="0" width="100%">
            <tbody>
                <tr align="middle">
                    <td class="note_title" width="10%" height="16">账号(名字)(id)</td>
                    <td class="note_title" width="10%" height="16">投注时间</td>
        
                    <td class="note_title" width="5%" height="16">彩种</td>
                    <td class="note_title" width="10%" height="16">账单单号</td>
                    <td class="note_title" width="5%">盘</td>
                    <td class="note_title" width="20%">下注内容</td>
                    <td class="note_title" width="20%">开奖结果</td>
                    <td class="note_title" width="5%">金额</td>
                    <td class="note_title" width="5%">派彩</td>
                    <td class="note_title" width="5%">退水</td>
                    <td class="note_title" width="5%">收交金额</td>
                </tr>
                <tr v-for="(item, index) in data" align="right" bgcolor="#FFFFFF">
                    <td height="22" nowrap="">{{item.user_name}}({{item.user_num}})({{item.user_id}})</td>
                    <td height="22" nowrap="">{{item.time}}</td>
                    <td height="22" nowrap="">{{item.game_type}}</td>
                    <td>{{item.number}}</td>
                    <td>{{item.part}}</td>
                    <td>
                        第{{item.game_num}} 期 -
                        <font color="blue">{{item.play_name}}</font>
                        <font color="red">({{item.content}})</font>
                        <span class="style1"> @ </span>
                        <font color="red">{{item.odds}}</font>
                    </td>
                    <td>{{item.game_result}}</td>
                    <td>{{item.money}}</td>
                    <td>{{item.handsel}}</td>
                    <td>{{item.break}}</td>
                    <td width="10%">
                        <font color="red">{{item.amount}}</font>
                    </td>
                </tr>

                <tr align="right" bgcolor="#FFFFFF">
                    <td colspan="7"><b>总计</b></td>
                    <td><b>{{money}}</b></td>
                    <td><b>{{handsel}}</b></td>
                    <!-- <td><b>{{break}}</b></td> -->
                    <td width="10%"><b>{{amount}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
<script src="/static/global/js/jquery-2.1.4.min.js"></script>
<script src="/static/global/js/jedate.js"></script>
<script src="/static/global/js/vue.min.js"></script>
<script src="/static/global/js/global.js"></script>
<script src="/static/listQuery/js/index.js"></script>
</html>