<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<HEAD>
    <TITLE>公告</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
    <link href="/static/global/style/public.css" rel="stylesheet" type="text/css">
    <link href="/static/global/style/modal.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--時間-->
    <!--span class="online_time">|&nbsp;香港时间&nbsp;|</span> <span id="onlinetime" class="online_time2"></span> <span id="onlinetime2" style="display:none" class="online_time2"></span -->

    <!--帳號-->
    {include file="public/header"}
    
    <div id="main" class="main">
        <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" class="tmove" style="margin-top: 5px;">
            <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#E1E1E1">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td height="26">
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="12%" height="21" align="center">公告管理</td>
                                                                    <td width="40%" nowrap="nowrap">
                                                                        总页数：<select @change="query" v-model="search.index" style="font-family:'宋体'; font-size:12px;">
                                                                                <option v-for="item in (Math.ceil(search.total / 10) || 1)" :value="item">{{item}}</option>
                                                                            </select> / {{Math.ceil(search.total / 10) || 1}}页</td>
                                                                    <td width="48%" align="center">
                                                                        <a v-if="ENV.userInfo.role_type == 3" href="javascript:void(0);" @click="add">新加公告</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
            <table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td height="5"></td></tr></tbody></table>
        <table width="100%" border="0" cellpadding="0" cellspacing="1"
            style="border:1px solid #76694c;font-size:14px;">
            <thead>
                <tr class="note_title" height="25">
                    <th align="center" height="16">发布时间</th>
                    <th>内容</th>
                    <th v-if="ENV.userInfo.role_type == 3" align="center" width="200">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" class="t15">
                    <td align="center">{{item.create_time}}</td>
                    <td>{{item.content}}</td>
                    <td v-if="ENV.userInfo.role_type == 3" align="center"><button @click="del(item)" type="button">删除</button></td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class="h-modal" id="modal" data-width="350">
        <div class="h-modal-title">
            <h5>添加公告</h5>
            <span class="h-modal-close" data-methods="close">&times;</span>
        </div>
        <div class="h-modal-body">
            <div style="text-align: center;">
                <input type="hidden" name="id">
                <textarea style="width: 100%;border-radius: 4px;" name="content" cols="30" rows="4"></textarea>
            </div>
        </div>
        <div class="h-modal-footer">
            <span class="h-modal-button submit" data-methods="submit"><i class="fa fa-save"></i> 保存</span>
            <span class="h-modal-button cancel" data-methods="close"><i class="fa fa-times"></i> 取消</span>
        </div>
    </div>

    
</body>
<script src="/static/global/js/jquery-2.1.4.min.js"></script>
<script src="/static/global/js/vue.min.js"></script>
<script src="/static/global/js/global.js"></script>
<script src="/static/global/js/modal.js"></script>
<script src="/static/notice/js/index.js"></script>
</html>