<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<HEAD>
    <TITLE>代理商管理</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
    <link href="/static/global/style/public.css" rel="stylesheet" type="text/css">
    <link href="/static/global/style/modal.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--時間-->
    <!--span class="online_time">|&nbsp;香港时间&nbsp;|</span> <span id="onlinetime" class="online_time2"></span> <span id="onlinetime2" style="display:none" class="online_time2"></span -->

    <!--帳號-->
    {include file="public/header"}
    <div class="main" id="main">
        <!-- 搜索 -->
        <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" class="tmove"
            style="margin-top: 5px;">
            <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#E1E1E1">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td height="26">
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="12%" height="21" align="center">代理商管理</td>
                                                                    <td width="40%" nowrap="">
                                                                        <select @change="init" v-model="search.state" class="asas">
                                                                            <option value="1">启用</option>
                                                                            <option value="0">停用</option>
                                                                        </select>
                                                                        排序
                                                                        <select @change="init" v-model="search.sort" class="asas">
                                                                            <option value="create_time">新增日期</option>
                                                                            <option value="user_name">代理商名称</option>
                                                                            <!-- <option value="balance">信用额度</option> -->
                                                                            <option value="login_time">最后登录</option>
                                                                        </select>
                                                                        用户名：<input type="text" v-model="search.user_name" class="input">
                                                                        <input type="button" value="查询" @click="init">
                                                                        所属上级：<input type="text" v-model="search.general_search" class="input">
                                                                        <input type="button" value="查询" @click="init">
                                                                        总页数：<select @change="init" v-model="search.index" style="font-family:'宋体'; font-size:12px;">
                                                                            <option v-for="item in (Math.ceil(search.total / 10) || 1)" :value="item">{{item}}</option>
                                                                        </select> / {{Math.ceil(search.total / 10) || 1}}页</td>
                                                                    <td width="48%" align="center"><a :href="'/index/agent_management/addinfo?name=' + escape(general_search) + '&id=' + general_id">新增</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 空白 -->
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td height="5"> </td>
                </tr>
            </tbody>
        </table>
        <!-- 内容 -->
        <table width="99%" height="53" border="0" align="center" cellpadding="0" cellspacing="0" class="tmove">
            <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="1"
                            style="border:1px solid #76694c;background:#E1E1E1;font-size:14px;">
                            <tbody>
                                <tr class="note_title" height="25">
                                    <td>
                                        <div align="center" class="fw12">所属上级</div>
                                    </td>
                                    <td>
                                        <div align="center" class="fw12">账号</div>
                                    </td>
                                    <td>
                                        <div align="center" class="fw12">名称</div>
                                    </td>
                                    <td>
                                        <div align="center" class="fw12">会员数</div>
                                    </td>
                                    <td>
                                        <div align="center" class="fw12">信用额度/快开额度</div>
                                    </td>
                                    <td>
                                        <div align="center" class="fw12">新增日期</div>
                                    </td>
                                    <!-- <td>
                                        <div align="center" class="fw12">登入次数</div>
                                    </td> -->
                                    <td>
                                        <div align="center" class="fw12">最后登入</div>
                                    </td>
                                    <td>
                                        <div align="center" class="fw12">状况</div>
                                    </td>
                                    <td>
                                        <div align="center" class="fw12">功能设定</div>
                                    </td>
                                </tr>
                                <tr v-for="(item, index) in data" class="t15" height="22">
                                    <td>
                                        <div v-if="ENV.userInfo.role_type <= 1" align="center" class="fblue12">{{item.general_name}}</div>
                                        <div v-else align="center" class="fblue12"><a :href="'/index/general_Agent?search=' + escape(item.general_name) + '&id=' + item.parent_id">{{item.general_name}}</a></div>
                                    </td>
                                    <td>
                                            <div align="center" class="fblue12"><a :href="'/index/member_management?general_search=' + escape(item.user_name) + '&id=' + item.id">{{item.user_number}}</a></div>
                                    </td>
                                    <td>
                                        <div align="center">{{item.user_name}}</div>
                                        
                                    </td>
                                    <td>
                                        <div align="center">{{item.count_user}}</div>
                                    </td>
                                    <td>
                                        <div class="fred12" align="center">0/<span>{{item.quick_open_quote}}</span>
                                            <input @click="quickLimit(item, 0)" style="TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; width: 30px; PADDING-RIGHT: 0px; HEIGHT: 17px; PADDING-TOP: 0px"
                                                class="tbuttonr" title="给帐户存入快开额度" value="存入" type="button" name="sm">
                                            <input @click="quickLimit(item, 1)"
                                                style="TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; width: 30px; PADDING-RIGHT: 0px; HEIGHT: 17px; PADDING-TOP: 0px"
                                                class="tbuttong" title="从帐户里提出快开额度" value="提取" type="button"
                                                name="sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div align="center">{{item.create_time}}</div>
                                    </td>
                                    <!-- <td>
                                        <div align="center">{{item.login_count}}</div>
                                    </td> -->
                                    <td>
                                        <div align="center">{{item.login_time}}</div>
                                    </td>
                                    <td>
                                        <div align="center" class="fblue12">
                                                <a href="javascript:void(0)" @click="changeMember(item.id, item.status)">{{item.status == 1 ? '启用' : '封存'}}</a>
                                        </div>
                                    </td>
                                    <td align="center">
                                        <a href="javascript:void(0);" class="ags" @click="changeBet(item.id, item.bet_status)">{{item.bet_status == 1 ? '解封投注' : '暂停投注'}}</a>
                                        ::
                                        <a :href="'/index/agent_management/editinfo?id=' + item.id" class="ags">修改信息</a>
                                        ::
                                        <a :href="'/index/agent_management/accountinfo?id=' + item.id + '&name=' + escape(item.user_name)" class="ags">修改成数</a>
                                        ::
                                        <a :href="'/index/agent_management/kindinfo?id=' + item.id + '&name=' + escape(item.user_name) + '&general_name=' + escape(item.general_name)" class="ags">修改彩种</a>
                                        ::
                                        <!-- <a :href="'/index/member_management/settingInfo?id=' + item.id + '&name=' + escape(item.user_name) + '&type=1'" class="ags">详细设定</a>
                                        :: -->
                                        <a :href="'/index/agent_management/operationlog?id=' + item.id" class="ags">操作日志</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 快开额度(存入) -->
    <div class="h-modal" id="modal" data-width="350">
        <div class="h-modal-title">
            <h5>存入</h5>
            <span class="h-modal-close" data-methods="close">&times;</span>
        </div>
        <div class="h-modal-body" style="background: #eee;">
            <div style="text-align: center;">
                <input type="hidden" name="id" class="id">
                <input type="hidden" name="type" class="type">
                金额：<input type="text" name="money" class="money" style="width:100px;"> / <span class="use_money">12</span>(可用) &nbsp;&nbsp;&nbsp; <input type="button" data-methods="submit" value="存入" style="color: #008400">
            </div>
        </div>
    </div>
</body>
<script src="/static/global/js/jquery-2.1.4.min.js"></script>
<script src="/static/global/js/vue.min.js"></script>
<script src="/static/global/js/global.js"></script>
<script src="/static/global/js/modal.js"></script>
<script src="/static/agentManagement/js/index.js"></script>
</html>