<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<HEAD>
    <TITLE>操作日志</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
    <link href="/static/global/style/public.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--時間-->
    <!--span class="online_time">|&nbsp;香港时间&nbsp;|</span> <span id="onlinetime" class="online_time2"></span> <span id="onlinetime2" style="display:none" class="online_time2"></span -->

    <!--帳號-->
    {include file="public/header"}

    <div id="main" class="main">
        <h5><a href="javascript:history.back(1)" style="CURSOR: pointer">返回上一页</a></h5>
        <table width="100%" border="0" cellpadding="0" cellspacing="1"
            style="border:1px solid #76694c;font-size:14px;">
            <thead>
                <tr class="note_title" height="25">
                    <th>编号</th>
                    <th>操作内容</th>
                    <th>操作时间</th>
                    <th>操作人账号</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" bgcolor="#f0f0f0">
                    <td height="24">
                        <div align="center">{{index}}</div>
                    </td>
                    <td height="24">
                        <div align="left">{{item.content}}</div>
                    </td>
                    <td height="24">
                        <div align="center">{{item.time}}</div>
                    </td>
                    <td height="24">
                        <div align="center">{{item.admin}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 需要分页 30一页 -->
    </div>


</body>
<script src="/static/global/js/jquery-2.1.4.min.js"></script>
<script src="/static/global/js/vue.min.js"></script>
<script src="/static/global/js/global.js"></script>
<script src="/static/agentManagement/js/operationLog.js"></script>
</html>