<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<HEAD>
    <TITLE>Welcome</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
    <link href="/static/global/style/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/global/style/public.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--時間-->
    <!--span class="online_time">|&nbsp;香港时间&nbsp;|</span> <span id="onlinetime" class="online_time2"></span> <span id="onlinetime2" style="display:none" class="online_time2"></span -->

    <!--帳號-->
    {include file="public/header"}
    
    <div id="main" class="main">

        
    </div>

    
</body>
<script src="/static/global/js/jquery-2.1.4.min.js"></script>
<script src="/static/global/js/global.js"></script>
</html>