<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<HEAD>
    <TITLE>重庆时时彩</TITLE>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
    <link href="/static/global/style/public.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--時間-->
    <!--span class="online_time">|&nbsp;香港时间&nbsp;|</span> <span id="onlinetime" class="online_time2"></span> <span id="onlinetime2" style="display:none" class="online_time2"></span -->

    <!--帳號-->
    {include file="public/header"}

    <div class="main" id="main">
        <!-- 选项卡 -->
        <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" class="tmove">
            <tbody>
                <tr>
                    <td>
                        <table width="100%" height="28" border="0" cellpadding="0" cellspacing="0" bgcolor="#E1E1E1">
                            <tbody>
                                <tr>
                                    <td width="5%" valign="middle" nowrap="">&nbsp;即时注单</td>
                                    <td valign="middle" nowrap="">
                                        盘类<select v-model="levelValue">
                                            <option v-for="(item, index) in level" :value="item">{{item}}盘
                                            </option>
                                        </select>
                                        更新<select v-model="refresh">
                                            <option value="0">停止</option>
                                            <option value="10000">10秒</option>
                                            <option value="20000">20秒</option>
                                            <option value="60000">60秒</option>
                                        </select>
                                    <td width="14%" align="center">香港时间:<br>{{count_down}}</td>
                                    <td width="70%">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center"
                                                        onmouseover="c=this.style.backgroundColor;this.style.backgroundColor='#FFFF66'"
                                                        onmouseout="this.style.backgroundColor=c">
                                                        <a href="javascript:void(0);" @click="tab = 'lhh'"
                                                            class="ared">龙虎和</a>
                                                    </td>
                                                    <td align="center"
                                                        onmouseover="c=this.style.backgroundColor;this.style.backgroundColor='#FFFF66'"
                                                        onmouseout="this.style.backgroundColor=c">
                                                        <a href="javascript:void(0);" @click="tab = 'zxs'"
                                                            class="ared">组选三</a>
                                                    </td>
                                                    <td align="center"
                                                        onmouseover="c=this.style.backgroundColor;this.style.backgroundColor='#FFFF66'"
                                                        onmouseout="this.style.backgroundColor=c">
                                                        <a href="javascript:void(0);" @click="tab = 'zxl'"
                                                            class="ared">组选六</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="40%" align="left">

                                    </td>
                                    <td width="17%">
                                    </td>
                                    <td width="3%">
                                        <div align="center">
                                            <input type="button" name="Submit" class="buttongmin" value="刷新" @click="init">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 第几期 -->
        <div align="center" style="padding:3px;">重庆时时彩 第<span align="center" style="padding:3px;">{{periods}}</span>期
            <span v-if="tab == 'lhh'">龙虎和</span>
            <span v-if="tab == 'zxs'">组选三</span>
            <span v-if="tab == 'zxl'">组选六</span>
        </div>
        <!-- 龙虎和（一） -->
        
        <!-- 组选三（二） -->
        <div align="center" v-if="tab == 'zxs'">
        </div>
        <!-- 组选六（三） -->
        <div align="center" v-if="tab == 'zxl'">
        </div>
    </div>


</body>
<script src="/static/global/js/jquery-2.1.4.min.js"></script>
<script src="/static/global/js/vue.min.js"></script>
<script src="/static/global/js/global.js"></script>
<script type="text/javascript" src="/static/game/js/jlssc.js"></script>
</html>